<div class="content" role="main">

    <div class="highlight-card card-small">

        <svg xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns="http://www.w3.org/2000/svg" height="24"
            width="24" version="1.1" xmlns:cc="http://creativecommons.org/ns#"
            xmlns:dc="http://purl.org/dc/elements/1.1/">
            <g transform="translate(0 -1028.4)">
                <path
                    d="m12 0c-4.4183 2.3685e-15 -8 3.5817-8 8 0 1.421 0.3816 2.75 1.0312 3.906 0.1079 0.192 0.221 0.381 0.3438 0.563l6.625 11.531 6.625-11.531c0.102-0.151 0.19-0.311 0.281-0.469l0.063-0.094c0.649-1.156 1.031-2.485 1.031-3.906 0-4.4183-3.582-8-8-8zm0 4c2.209 0 4 1.7909 4 4 0 2.209-1.791 4-4 4-2.2091 0-4-1.791-4-4 0-2.2091 1.7909-4 4-4z"
                    transform="translate(0 1028.4)" fill="#e74c3c" />
                <path
                    d="m12 3c-2.7614 0-5 2.2386-5 5 0 2.761 2.2386 5 5 5 2.761 0 5-2.239 5-5 0-2.7614-2.239-5-5-5zm0 2c1.657 0 3 1.3431 3 3s-1.343 3-3 3-3-1.3431-3-3 1.343-3 3-3z"
                    transform="translate(0 1028.4)" fill="#c0392b" />
            </g>
        </svg>


        <span *ngIf="coords.length > 0">La tua posizione è: {{coords[0]}}, {{coords[1]}}</span>
        <span *ngIf="coords.length === 0">Posizione non è nota</span>

        <br />
        <div style="padding-top: 10px;  text-align: center;"><small style="font-size: 12px;">- or type it in -</small>
        </div>
        <div style="margin-top: 12px; display: flex; justify-content: space-between;">

            <div>Lat: <input #changeLngInput type="number" (input)="changeLng(changeLngInput.value)" style="width: 80px"
                    [value]="lng">&nbsp;&nbsp;&nbsp;</div>

            <div>Long: <input #changeLatInput type="number" (input)="changeLat(changeLatInput.value)"
                    style="width: 80px" [value]="lat"></div>&nbsp;

            <button (click)="getStores()" style="cursor: pointer;" [disabled]="lng === 0 || lat ===0">Go</button>
        </div>
    </div>

    <div class="card-container" *ngIf="nearestStores.length === 0" style="margin-top: 6rem">
        <h2>Non c'è niente da mostrare</h2>
    </div>


    <div class="list-section" *ngIf="nearestStores.length > 0" style="margin-top: 1.6rem;">

        <!-- Nearest stores -->
        <h2>Negozi più Vicini</h2>
        <p>Ecco i punti vendita più vicini a te (nel raggio di 100 km):</p><br />

        <div class="card-container">
            <div *ngFor="let store of nearestStores">
                <a class="card" [title]="store.name + ' details'" [routerLink]="['/stores', store.id]">
                    <span>{{ store.name }}</span>
                </a>
            </div>
        </div>

        <br />

        <hr style="width: 100%; border: .2px solid #eee;" />
        <!-- Other stores -->
        <h2>Altri Negozi</h2>

        <div class="card-container">
            <div *ngFor="let store of otherStores">
                <a class="card" [title]="store.name + ' details'" [routerLink]="['/stores', store.id]">
                    <span>{{ store.name }}</span>
                </a>
            </div>
        </div>

    </div>
</div>